<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis proyectos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Mave</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Conoce mas en como cuidar tu ave mascota
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>BoxOfColor</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Aprende a vestirte bien con tus colores de vestimenta</div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>ViaTako</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">mmm</div>
  </ion-accordion>
</ion-accordion-group>
</ion-content>