<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ¿Quien soy?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <img alt="Ale" src="/assets/icon/Ale.png" />
  <ion-card-header>
    <ion-card-title>Alejandra</ion-card-title>
    <ion-card-subtitle>Desarrollador de apps</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Estudiante de ing. infor. del TecNM Campus Region Sierra.
    8vo. Semestre.
    Desarrollador de apps en:
    - App Inventor.
    - Ionic Framework.
    - Figman.

  </ion-card-content>
</ion-card>
</ion-content>
